* {
  box-sizing: border-box;
}
header {
  height: 92px;
  position: relative;
  background-image: url("../static/img/home/titleBanner.png");
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3em;
}
header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f20;
}
header span {
  letter-spacing: 0.4em;
  font-size: 1.8em;
}
header .loginInfo {
  font-size: 14px;
  padding-right: 2em;
  letter-spacing: 0;
}
header .loginInfo a {
  color: #f40;
  margin-left: 6px;
}
header .loginInfo a:hover {
  color: #009;
  text-decoration: none;
}
.page-box {
  display: flex;
  justify-content: center;
}
.page-box .book-pagechange {
  display: flex;
  width: 20em;
  justify-content: space-around;
  font-size: 12px;
  color: #ccc;
  align-items: center;
}
.page-box .book-pagechange span {
  border: 1px solid #ddd;
  padding: 2px 6px;
  font-size: 12px;
}
.page-box .book-pagechange span:hover {
  cursor: pointer;
  color: #fff;
  background-color: #07f;
}
content {
  display: flex;
}
content .sidebar {
  width: 8em;
  background-color: #ddd;
  padding-top: 2em;
}
content .sidebar .item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e7ed;
  margin-bottom: 4px;
  padding: 3px 5px;
  font-size: 18px;
  color: #606266;
}
content .sidebar .item:hover {
  cursor: pointer;
}
content .sidebar .itemSelected {
  background-color: #909299;
  color: #fff;
}
content .content {
  width: 100%;
  min-height: 600px;
  /* router-view */
  /* book */
}
content .content .book {
  padding-top: 2.4em;
}
content .content .book .book-ctrl {
  display: flex;
  width: 100%;
  padding-left: 4em;
}
content .content .book .book-ctrl .book-pagechange {
  display: flex;
  width: 20em;
  justify-content: space-around;
  font-size: 12px;
  color: #ccc;
  align-items: center;
}
content .content .book .book-ctrl .book-pagechange span {
  border: 1px solid #ddd;
  padding: 2px 6px;
  font-size: 12px;
}
content .content .book .book-ctrl .book-pagechange span:hover {
  cursor: pointer;
  color: #fff;
  background-color: #07f;
}
content .content .book .book-ctrl .book-search {
  flex: 5;
}
content .content .book .book-ctrl .book-search input {
  width: 16em;
  padding: 2px 4px;
}
content .content .book .book-ctrl .book-search button {
  padding: 2px 8px;
  border-radius: 3px;
  margin-left: 1em;
}
content .content .book .book-power {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3em 0.5em;
}
content .content .book .book-power .vh {
  visibility: hidden;
}
content .content .book .book-power li {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #123;
  font-size: 14px;
  padding: 1.2em;
}
content .content .book .book-power li .li-img {
  width: 60%;
  display: flex;
  justify-content: center;
}
content .content .book .book-power li .li-img span {
  margin-left: 1em;
  white-space: nowrap;
}
content .content .book .book-power li .li-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
content .content .book .book-power li .li-text span {
  padding-top: 4px;
}
content .content .book .book-power li .li-text .text-auther {
  font-weight: bold;
}
content .content .book .book-power li .li-text .text-task {
  color: #aaa;
  font-size: 12px;
}
content .content .borrow {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: flex-start;
}
content .content .borrow .borrow-books {
  padding: 5em 0;
  flex: 3;
  display: flex;
  justify-content: center;
}
content .content .borrow .borrow-books .borrow-user table {
  border: 0;
}
content .content .borrow .borrow-books .borrow-user caption {
  font-weight: bold;
  font-size: 24px;
}
content .content .borrow .borrow-books .borrow-user th {
  width: 10em;
}
content .content .borrow .borrow-books .borrow-user td {
  text-align: center;
}
content .content .borrow .borrow-books .borrow-user button {
  padding: 2px 4px;
  font-size: 16px;
  border-radius: 3px;
}
content .content .borrow .borrow-books .borrow-user tbody tr {
  height: 2.4em;
}
content .content .borrow .borrow-books .borrow-user tbody tr:hover {
  background-color: #ddd;
  cursor: default;
}
content .content .borrow .borrow-books .book-ctrl table caption {
  font-weight: 800;
}
content .content .borrow .borrow-books .book-ctrl table thead tr th {
  width: 8em;
}
content .content .borrow .borrow-books .book-ctrl table tbody tr {
  height: 2.4em;
}
content .content .borrow .borrow-books .book-ctrl table tbody tr:hover {
  cursor: default;
  background-color: #ddd;
}
content .content .borrow .borrow-books .book-ctrl table tbody tr td {
  text-align: center;
}
content .content .borrow .borrow-books .book-ctrl table tbody tr td a {
  color: #eee;
  background-color: #3197f3;
  display: inline-block;
  padding: 4px 6px;
  border-radius: 5px;
  text-decoration: none;
}
content .content .borrow .borrow-books .book-ctrl table tbody tr td a:hover {
  color: #ddd;
}
content .content .borrow ul {
  flex: 1;
  padding-right: 2em;
  margin: 3em 0;
  display: flex;
  flex-direction: column-reverse;
}
content .content .borrow ul li {
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
content .content .borrow ul li .li-logo {
  width: 5.6em;
  background-color: #08f;
  border-radius: 3px;
}
content .content .borrow ul li .li-tip {
  padding: 4px 6px;
  border-radius: 3px;
}
content .content .borrow ul li:hover {
  cursor: pointer;
}
content .content .borrow ul li:hover .li-tip {
  color: #ccc;
  background-color: #348;
}
content .content .manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 24px 16px;
}
content .content .manager .book-search {
  display: flex;
  width: 240px;
  height: 32px;
}
content .content .manager .book-search input {
  flex: 3;
}
content .content .manager .book-search button {
  flex: 1;
}
content .content .manager .manager-head {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 2em;
  align-self: flex-start;
}
content .content .manager .manager-head li {
  padding: 6px 10px;
}
content .content .manager .manager-head li:hover {
  cursor: pointer;
}
content .content .manager .admonition {
  display: flex;
  align-self: flex-end;
  padding: 3em 4em 0 0;
}
content .content .manager .admonition h2 {
  padding: 6px 10px;
  color: #333;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 40px;
  font-family: Comic Sans MS, sans-serif;
}
content .content .manager .admonition .admonition-right,
content .content .manager .admonition .admonition-left {
  display: flex;
  flex-direction: column;
}
content .content .manager p {
  padding: 10px 0;
}
content .content .manager p button {
  padding: 4px 8px;
}
content .content .manager .book-list table caption,
content .content .manager .user-list table caption,
content .content .manager .borrowed-log table caption,
content .content .manager .manager-author table caption {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
content .content .manager .book-list table th,
content .content .manager .user-list table th,
content .content .manager .borrowed-log table th,
content .content .manager .manager-author table th {
  width: 8em;
  border-bottom: 1px solid #aaa;
}
content .content .manager .book-list table td,
content .content .manager .user-list table td,
content .content .manager .borrowed-log table td,
content .content .manager .manager-author table td {
  text-align: center;
}
content .content .manager .book-list table td a,
content .content .manager .user-list table td a,
content .content .manager .borrowed-log table td a,
content .content .manager .manager-author table td a {
  margin-right: 1em;
  color: #aaa;
  text-decoration: none;
}
content .content .manager .book-list table td a:hover,
content .content .manager .user-list table td a:hover,
content .content .manager .borrowed-log table td a:hover,
content .content .manager .manager-author table td a:hover {
  color: #333;
  text-decoration: underline;
}
content .content .manager .book-list table tbody tr:hover,
content .content .manager .user-list table tbody tr:hover,
content .content .manager .borrowed-log table tbody tr:hover,
content .content .manager .manager-author table tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}
content .content .manager .book-list table tbody tr td,
content .content .manager .user-list table tbody tr td,
content .content .manager .borrowed-log table tbody tr td,
content .content .manager .manager-author table tbody tr td {
  border-bottom: 1px solid #ddd;
}
footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #aaa;
  background-color: #ccc;
}
